{block title}Registrace{/block}

{block content}
<div class="boxed">
	{form register}
		{label username /}{input username}<br>
		{label password /}{input password}<br>
		{label passwordCheck /}{input passwordCheck}<br>
		{input send}<br>
	{/form}
</div>
{/block}
