action: "Action"
add: "Add"
article: "Article"
content: "Content"
created_at: "Created"
display: "Display"
edit: "Edit"
lang: "Language"
need_title: "No title"
need_content: "No content"
message:
	successfully_added: "Article added successfully"
title: "Title"
written: "Written by"
