action: "Akce"
add: "Přidat"
article: "Příspěvek"
content: "Obsah"
created_at: "Vytvořen"
display: "Zobrazovat"
edit: "Upravit"
lang: "Jazyk"
need_title: "Nezadán nadpis"
need_content: "Nezadán obsah"
message:
	successfully_added: "Příspěvek úspěšně přidán"
title: "Nadpis"
written: "Napsal"
