{block title}Index{/block}

{block content}
<div class="boxed">
	<p>{_messages.homepage.hello}</p>
    {form login}
{label username /}{input username}<br>
{label password /}{input password}<br>
{input send}<br>
{/form}
</div>
{/block content}
